/* src/components/PostList.css */
.post-list {
  display: grid;
  /* Ít nhất 2 cột, tự động điều chỉnh */
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
  gap: 1.5rem;
  margin-top: 1rem;
}